{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <title>Sign Up</title>
    <style>
        .post_form {
            width: 45%;
            margin: auto;
        }
        h1 {
            position: relative;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <form class="post_form" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-success">Sign Up</button>
    </form>
{% endblock %}
