{% extends 'pages/base.html' %}

{% block heading %}
    <title>Detail Question</title>
<style>
    body {
        overflow-x: hidden;
    }
    .user {
        position: relative;
        left: 110px;
        bottom:30px;
    }

    .text {
        position: relative;
        left: 100px;
    }

    .rasm {
        position: relative;
        left: 50px;
        bottom: -15px;
    }

    .date {
        position: relative;
        left: 110px;
        bottom: 76px;
    }
    .quser {
        position: relative;
        left: 80px;
        bottom: 50px;
    }

    .qtext {
        position: relative;
        left: 10px;
    }

    .qdate {
        position: relative;
        left: 80px;
        bottom: 140px;
    }

    .likes {
        position: relative;
        left: 180px;
        top: 30px;
    }

    .hashtag {
        position: relative;
        left: 1400px;
        top: 120px;
    }

    .comment {
        background-color: #E0FFFF;
    }
</style>
{% endblock heading %}


{% block content %}
<div class="card">
            <div class="card-body">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg">
                <h1 class="quser">{{ question.user }}</h1>
                <h3 class="qtext">{{ question.text }}</h3>
                <p class="hashtag">Hashtag: {{ question.hashtag }}</p>
                <p class="qdate">{{ question.created_at|date:"Y-m-d H:i:s" }}</p>
                <a href="{% url 'like' question.pk %}" class="likes"><i class="i-tag fa-solid fa-thumbs-up"></i> {{ question.likes.count }}</a>
                <h4><a href="{% url 'add-comment' question.id %}">  Add Comment </a></h4>
            </div>
        </div>

    {% for comment in question.comments.all %}
            <div class="comment">
                <img class="rasm" src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg">
                <h2 class="user">{{ comment.user }}</h2>
                <h4 class="text">{{ comment.text }}</h4>
                <p class="date">{{ comment.created_at|date:"Y-m-d H:i:s" }}</p>
                <hr>
            </div>
        {% endfor %}
{% endblock content %}
