{% extends 'pages/base.html' %}

{% block heading %}
    <title>Questions</title>
<style>
    body {
        overflow-x: hidden;
    }
    .quser {
        position: relative;
        left: 80px;
        bottom: 50px;
    }

    .qtext {
        position: relative;
        left: 10px;
        top: 20px;
    }

    .qdate {
        position: relative;
        left: 80px;
        bottom: 135px;
    }

    .likes {
        position: relative;
        left: 180px;
        top: 30px;
    }

    .hashtag {
        position: relative;
        left: 1600px;
        top: 120px;
    }

    .add {
        position: relative;
        left: 96%;
        bottom: 60px;
        font-size: 40px;
    }
</style>
{% endblock heading %}


{% block content %}
    <h1>Questions</h1>
    <a class="add" href="{% url 'add' %}"><i class="fa-solid fa-square-plus"></i></a>
        {% for question in questions %}
        <div class="card">
            <div class="card-body">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg">
                <h1 class="quser"><a href="ques/{{ question.id }}">{{ question.user }}</a></h1>
                <h3 class="qtext">{{ question.text }}</h3>
                <p class="hashtag">Hashtag: {{ question.hashtag }}</p>
                <p class="qdate">{{ question.created_at|date:"Y-m-d H:i:s" }}</p>
                <a href="{% url 'like' question.pk %}" class="likes"><i class="i-tag fa-solid fa-thumbs-up"></i> {{ question.likes.count }}</a>
                <h4><a href="{% url 'add-comment' question.id %}">  Add Comment </a></h4>
            </div>
        </div>
        {% endfor %}
{% endblock content %}
